# Data Science Tools and Ecosystem

In this notebook, some information about data science tools and ecosystem are summarized.

**Objectives:**
+ List popular languages used in data science;
+ List some of the libraries most used by data scientists;
+ Give some examples of data science tools;
+ Show some examples of how to evaluate and apply arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:

1. Python;
2. R;
3. SQL.

These are some of the libraries commonly used in data science:

1. Pandas;
2. Matplotlib;
3. Scikit-learn.

|Data Science Tools|
| - |
| Jupyter Lab |
| RStudio |
| Apache Spark |

Find below some examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple example of sum and multiplication:
(3*4)+5

17

In [11]:
# In this code, we convert 200 min into hours

time_min = 200
time_hour = time_min/60

print(time_min, 'minutes are equal to', time_hour, 'hours')

200 minutes are equal to 3.3333333333333335 hours

## Author

Paulo Mello